.app-demo-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    text-align: center;
}

.app-demo-ctr img {
    height: 200px;
    transition: linear 0.2s;
}

.app-demo-ctr #select img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.app-demo-ctr #select,
.app-demo-ctr #score {
    /* background: red; */
    padding: 10px;
    width: 100%;
    min-height: 300px;
    margin: 10px auto;
}

.app-demo-ctr #select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.app-demo-ctr #score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.app-demo-ctr #score h2 {
    color: var(--color-bg-reverse);
    background: var(--background-1);
    padding: 5px 20px;
    border-radius: 25px;
    box-shadow: var(--box-shadow-1);
    margin-bottom: 20px;
    border: 2px solid rebeccapurple;
}

.app-demo-ctr #score #computer {
    background: var(--background-3-light);
}

.app-demo-ctr #win,
.app-demo-ctr #choice {
    background: var(--background-4);
    padding: 5px 50px;
    border-radius: 10px;
    border: 2px solid rebeccapurple;
    box-shadow: var(--box-shadow-4);
}

.app-demo-ctr .el-hidden,
.app-demo-ctr #select.el-hidden,
.app-demo-ctr #score.el-hidden {
    display: none;
}

.app-demo-ctr .op-50 {
    opacity: 50%;
}


@media screen and (max-width: 500px) {
    .app-demo-ctr #score {
        grid-template-columns: 1fr;
    }

}