.app-details-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    margin: auto 5%;
    text-align: center;
}

.app-details-ctr * {
    user-select: none;
}

.app-details-ctr h1 {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: 700;
}

.app-details-ctr h2 {
    color: var(--color-accent-1);
}

.app-details-ctr .card-cage {
    /* background: peru; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0 0 10px 0;
    padding: 10px 0;
}

.details-info {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.details-info .red {
    padding: 3px 20px;
    background: var(--color-white-light);
    box-shadow: var(--box-shadow-2);
    width: fit-content;
    margin: 10px auto 0 auto;
    border-radius: 15px;
    border: 2px solid var(--color-star);
}

.details-info .red p {
    color: var(--color-star);
    line-height: normal;
    letter-spacing: normal;
}

.details-img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: var(--box-shadow-7-cards);
    max-height: 300cqb;
}

.details-img img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.details-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.details-tech {
    gap: 20px;
}

.details-tech > * {
    box-shadow: var(--box-shadow-7-cards);
    border-radius: 10px;
}

.app-images article {
    height: 295px;
    width: 210px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--box-shadow-7-cards);
}

.app-images article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-images article:hover {
    box-shadow: var(--box-shadow-5);
    scale: 1.1;
    border: 1px solid var(--color-dark-1);
}

.app-images .tooltip-anchor {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

.app-images .tooltip-anchor:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(-34px);
}

.app-images .tooltip {
    visibility: hidden;
    width: 200px;
    background-color: var(--color-bg);
    color: var(--color-bg-reverse);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s, transform 0.3s;
    font-weight: 700;
    font-size: 16px;
    box-shadow: var(--box-shadow-2);
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.modal-content {
    background: var(--color-bg);
    margin: 15% auto;
    border: 1px solid #888;
    box-shadow: var(--box-shadow-7-cards);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.modal-content img {
    height: 50vw;
    width: auto;
    object-fit: contain;
    border-radius: 15px;
}

.open-in-new {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    background: var(--color-bg-light);
    box-shadow: var(--box-shadow-7-cards);
    padding: 7px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 30px;

}

.open-in-new:hover {
    transform: scale(1.1);
    color: teal;
    border: 3px solid teal;
    box-shadow: none;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.modal-content .tooltip-anchor {
    position: unset;
}

.modal-content .tooltip-anchor .tooltip {
    top: -10px;
    left: unset;
    right: 70px;
}

.modal-content h3 {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg-reverse);
    padding: 5px;
}

.modal-open {
    display: flex;
}


@media screen and (max-width: 1050px) {
    .app-details-ctr .card-cage {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .app-details-ctr .card-cage {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: start;
    }

    .app-details-ctr .card-cage>* {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 450px) {}