.home-ctr {
    background: var(--background-2);
}

.h--section-top {
    padding-top: 65px;
    height: 100vh;
    background: var(--background-1) no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    color: var(--color-black);
    user-select: none;
    padding-bottom: 20px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.h--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%);
    background: var(--color-bg-light-2);
    border-radius: 20px;
    width: min(900px, 100%);
    box-shadow: var(--box-shadow-1);
    z-index: 10;
    padding: 0 60px 0 0;
}

li {
    list-style: none;
}

.h--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0 35px;
    text-align: justify;
}

.h--info p {
    color: var(--color-bg-reverse);
    text-shadow: var(--text-shadow-1);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.h--content .btn:hover,
.h--content .btn:focus,
.h--content .btn:active,
.h--content .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
}

.swiper-slide {
    position: relative;
    box-shadow: var(--box-shadow-5);
    border-radius: 10px;
}

.swiper .tags {
    gap: 3px;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
}

.swiper-slide h2 {
    color: var(--color-star);
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--box-shadow-1);
}

.swiper-slide {
    background-size: cover;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #ff3cac;
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-100px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}











@media screen and (max-width: 767px) {
    .h--content {
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 30px;
        gap: 0;
    }

    .h--content .btn {
        margin: 10px auto 40px;
    }

}

@media screen and (max-width: 500px) {
    .h--section-top {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .h--content {
        background: none;
        box-shadow: none;
    }

    .h--section-top p {
        background: var(--color-bg-light-2);
        padding: 5px 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        box-shadow: var(--box-shadow-7-cards);
    }
}

@media screen and (max-width: 350px) {
    .h--section-top .swiper {
        width: 225px;
        height: 405px;
    }

    .h--section-top h2>b {
        font-size: 20px;
    }

    .h--content {
        gap: 0;
    }

    .h--section-top p {
        font-size: 14px;
    }
}

@media screen and (max-width: 270px) {
    .h--section-top .swiper {
        width: 200px;
        height: 368px;
    }

    .h--section-top h2>b {
        font-size: 18px;
    }

    .h--content .tags span {
        font-size: 12px;
    }
}