.home-ctr {
    background: var(--background-2);
}

.h--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-black);
    padding: 10px 20px;
}

.h--section-top {
    background: var(--background-1) no-repeat bottom center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 10vw 20px 10vw;
    color: var(--color-black);
    user-select: none;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.h--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--color-bg-light-2);
    border-radius: 20px;
    box-shadow: var(--box-shadow-1);
    z-index: 10;
}

li {
    list-style: none;
}

.h--content .btn:hover,
.h--content .btn:focus,
.h--content .btn:active,
.h--content .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-100px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}











@media screen and (max-width: 767px) {
    .h--content {
        flex-direction: column-reverse;
        padding: 0;
        margin-top: 30px;
        gap: 0;
    }

    .h--content .btn {
        margin: 10px auto 40px;
    }

}

@media screen and (max-width: 400px) {
    .h--content {
        background: none;
        box-shadow: none;
    }

    .h--section-top p {
        background: var(--color-bg-light-2);
        padding: 5px 15px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        box-shadow: var(--box-shadow-7-cards);
    }
}

@media screen and (max-width: 350px) {
    .h--content {
        gap: 0;
    }

    .h--section-top p {
        font-size: 14px;
    }
}
