.home-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    margin: auto 5%;
    text-align: center;
}

.home-ctr h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

.cards-cage {
    width: 100%;
    padding: 20px 0 90px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.top-link {
    margin: 100px auto 20px auto;
}

.top-link a {
    padding: 10px 30px;
    text-decoration: none;
    color: var(--color-bg-reverse);
    font-size: 18px;
}

.home-ctr .cards-cage .scroll-loader-cage {
    padding-bottom: 480px;
}

.home-ctr .cards-cage .scroll-loader-cage .lds-roller {
    background: var(--color-bg-light);
    border-radius: 50%;
    box-shadow: var(--box-shadow-7-cards);
    scale: 1.5;
}

